body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    /* Añadido para separar el contenido del borde de la ventana */
    font-size: 16px;
    /* Tamaño de la letra */
    background-color: rgb(185, 32, 32);
}

body, html {
    height: 100%;
    overflow: hidden; /* Evita que la página haga scroll */
}
#content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#parte-inferior {
    flex: 1;
    overflow-y: auto; /* Cambiado de auto a scroll para asegurar el scroll */
    padding: 10px;
}
.d-flex {
    display: flex;
    align-items: center;
}
.gap-2 {
    gap: 10px; /* Ajusta el valor según sea necesario */
}
.mb-3 {
    margin-bottom: 10px; /* Ajusta el valor según sea necesario */
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.explorer-button {
    border: none;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s ease; /* Smooth transition for the transform */
}

.explorer-button:hover {
    transform: scale(1.1); /* Scales the button to 110% of its original size */
}
.ruta-actual{
    font-size: x-large
}

.delete-explorer-button {
    border: none ;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s ease; /* Smooth transition for the transform */
}

.delete-explorer-button:hover {
    transform: scale(1.1); /* Scales the button to 110% of its original size */
}


#current-path {
    color: black;
    margin-bottom: 10px;
    /* Añadido para separar la ruta actual del contenido */
    font-size: 30px;
    /* Tamaño de la letra para la ruta actual */
}

.table-sm {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}
.table-sm td {
    border-left: none;
    border-right: none;
    margin-top: 10px;
}

.file-link {
    text-decoration: none;
    cursor: pointer;
    font-size: 100%;
    /* Tamaño de la letra para los enlaces */
    font-family: 'tahoma';
    color: inherit; /* El color es heredado del elemento padre */
}

.file-stats {
    font-size: 100%;
    /* Tamaño de la letra para los enlaces */

    font-family: 'tahoma';
}


.log-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-item {
    display: inline-block;
    margin-right: 10px;
    padding: 2px 5px;
    background-color: #333c44;
    border-radius: 3px;
}

.log-info {
    color: #ff9800; /* Cambiado a naranja */
    background-color: #ffe0b2; /* Cambiado a naranja claro */
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
}

.log-headers {
    color: #0d6efd;
    background-color: #e7f3ff;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
}

.log-answer {
    color: #198754;
    background-color: #e8f5e9;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    white-space: pre-wrap;
    /* Para preservar el formato del JSON formateado */
}

.log-json {
    color: #6c757d;
    background-color: #f8f9fa;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    white-space: pre-wrap;
    /* Para preservar el formato del JSON formateado */
}

/* Terminan colores */


#file-list {
    list-style: none;
    font-size: large;
    padding: 0;
}

.file-item {
    margin-bottom: 5px;
    font-size: large;
}


.title-DashBoard {
    font-family: 'tahoma';

}

#logs-content-container {
    font-family: Arial, sans-serif;
    margin: 20px;
}
