/*estilo para el audio-player*/
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: {{ colors.ColorFondoTablaHover }};
    color: {{ colors.ColorTextoTablaHover }};
}

.table-sm td{
    border-top: 1px solid {{ colors.ColorBordeTabla }}; /* Añadido para mostrar las líneas que dividen cada elemento */
    border-bottom: 1px solid {{ colors.ColorBordeTabla }};
    color: {{ colors.ColorTextoTabla }};
}

.table-sm th{
    color: {{ colors.ColorTextoTabla }};
}

.table-sm {
    border-top: 1px solid {{ colors.ColorBordeTabla }}; /* Añadido para mostrar las líneas que dividen cada elemento */
    border-bottom: 1px solid {{ colors.ColorBordeTabla }};;
}


.explorer-button {
    background-color: {{ colors.ColorFondoBotonRuta }} ;
    color:  {{ colors.ColorBotonRuta }};
}

.explorer-button:hover{
    background-color: {{ colors.ColorFondoBotonRutaHover}};
}

.delete-explorer-button {
    background-color:{{ colors.ColorFondoBotonEliminar }};
    color: {{ colors.ColorBotonEliminar }};
}

.delete-explorer-button:hover{
    background-color: {{ colors.ColorFondoBotonEliminarHover}};
}

.body-page{
    background-color:{{ colors.ColorFondoPagina }};
}

.ruta-actual{
    color:{{ colors.ColorTextoRutaActual }};
}
.ruta-actual-activa{
    color:{{ colors.ColorTextoRutaActualActiva }};
}

.title-DashBoard {
    color: {{ colors.ColorTextoTitulo }};

}

.login-container{
    background-color: {{ colors.ColorFondoLogin}};
    color: {{ colors.ColorTextoLogin }};
}


.login-button {
    background-color: {{ colors.ColorBotonLogin}};
    color: {{ colors.ColorTextoBotonLogin }};
}