<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="shortcut icon" href="{{ url_for('dash_board.static', filename='Logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('dash_board.dynamic_styles') }}">
    <link rel="stylesheet" href="{{ url_for('dash_board.static', filename='EstiloLogin.css') }}">
</head>
<body class="body-page">
    <form action="/dashboard//authenticate" method="post">
        <div class="login-container">
            <div class="logo-container">
                <div>{{nombreProyecto}}</div>
                <img src="{{ url_for('dash_board.static', filename='Logo.png') }}" alt="DoctorHelper Logo">
            </div>
            <div class="input-container">
                <label for="user">User</label>
                <input type="text" id="user" name="user" placeholder="Enter your username">
            </div>
            <div class="input-container password-input">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <button type="submit" class="login-button">Login</button>
        </div>
    </form>
</body>

</html>
